<!DOCTYPE html>
<html>

<head>
    <title>tabla persona</title>
</head>

<body>
    <h1>INSERTAR DATOS</h1>
    <form name="frmIns" action="DOins" method="POST">
        codigo de persona: <input type="text" name='txtCod'><br>
        Nombres de la persona: <input type="text" name='txtNombres'><br>
        Apellidos de persona: <input type="text" name='txtApellidos'><br>
        <input type="submit" value="enviar">
    </form>

</body>

</html>